header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 20%;
  background: tomato;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  header h1 {
    font-family: 'Cinzel', serif;
    font-size: 3em;
    font-style: italic;
    color: #fff; }

.navegacion {
  width: 100%;
  /*ul{
		display: flex;
		list-style-type: none;
	    margin-top: 10px;
	    padding: 0;
	    overflow: hidden;
	    background-color: tomato;
	}

	li {
		a{
		    display: block;
		    color: white;
		    text-align: center;
		    margin-right: 150px;
		    padding: 14px 16px;
		    text-decoration: none;

		    &:first-child{
				margin-left: 100px;
			}	

			&:hover{
				background: #555;
			}

		}
	}*/
  margin-top: 10px;
  margin-bottom: 10px; }
  .navegacion nav {
    background: tomato; }
  .navegacion ul {
    width: 100%;
    list-style: none; }
    .navegacion ul:after {
      content: "";
      display: block;
      clear: both; }
  .navegacion li {
    float: left;
    width: 25%; }
    @media screen and (max-width: 600px) {
      .navegacion li {
        width: 100%; } }
  .navegacion a {
    color: white;
    text-decoration: none;
    padding: 16px;
    display: block;
    text-align: center; }
    .navegacion a:hover {
      background: #555;
      color: white; }
