
header{
	display: flex;
	height: 20%;
	background: tomato;	
	width: 100%;
	justify-content: center;

	h1{
	font-family: 'Cinzel', serif;
	font-size: 3em; 
	font-style: italic;
	color: #fff;
	}

}


.navegacion{
	width: 100%;

	
	nav{
		background: tomato;
	}

	margin-top: 10px;
	margin-bottom:10px;
	ul{
		width: 100%;
		list-style:none;
		&:after{
			content:"";
			display: block;
			clear: both;
		}
	}

	li{
		float: left;
		width: (100% / 4);
		//@include mQ(600px){
		//	width: 100%;
		//}

		@media screen and (max-width: 600px){
			width: 100%;
		}
	}

	a{
		color: white;
		text-decoration: none;
		padding: 16px;
		display: block;
		text-align: center;

		&:hover{
			background: #555;
			color: white;
			//background: lighten($deepBlue, 6);
		}

	}

}