@import "cabecera";
@import "slider";
@import "main";
@import "mixins";


@include cuerpo;





@media screen and (max-width: 600px){
	header{
		h1{
			font-size: 2em;
			text-align: center;
		
		}
	}

	.navegacion{
		a{
			margin-left: 5px;
		}
	}

	section#slider{
		figure{
			&.visible>img{
				width: 100%;
			}
		}
	}

	main{
		flex-direction: column;
	}
}

@media screen and (max-width: 480px){
	section.first-section{
		.art1{
			
		}

		display: none !important;
	}
}